{% extends 'base.html' %}

{% block content %}
    <div class="block-header block-header--has-breadcrumb block-header--has-title">
        <div class="container">
            <div class="block-header__body">
                <nav class="breadcrumb block-header__breadcrumb" aria-label="breadcrumb">
                    <ol class="breadcrumb__list">
                        <li class="breadcrumb__spaceship-safe-area" role="presentation"></li>
                        <li class="breadcrumb__item breadcrumb__item--parent breadcrumb__item--first"><a
                                href="index.html" class="breadcrumb__item-link">Home</a></li>
                        <li class="breadcrumb__item breadcrumb__item--parent"><a href=""
                                class="breadcrumb__item-link">Breadcrumb</a></li>
                        <li class="breadcrumb__item breadcrumb__item--current breadcrumb__item--last"
                            aria-current="page"><span class="breadcrumb__item-link">Current Page</span></li>
                        <li class="breadcrumb__title-safe-area" role="presentation"
                            style="--block-header-title-width:199.906px;"></li>
                    </ol>
                </nav>
                <h1 class="block-header__title">Latest News</h1>
            </div>
        </div>
    </div>
    <div class="block blog-view blog-view--layout--grid">
        <div class="container">
            <div class="blog-view__body">
                <div class="blog-view__item blog-view__item-posts">
                    <div class="block posts-view">
                        <div class="posts-view__list posts-list posts-list--layout--grid-2">
                            <div class="posts-list__body">
                                <div class="posts-list__item">
                                    <div class="post-card post-card--layout--grid-sm">
                                        <div class="post-card__image"><a href="post-full-width.html"><img
                                                    src="images/posts/post-1-730x485.jpg" alt=""></a></div>
                                        <div class="post-card__content">
                                            <div class="post-card__category"><a
                                                    href="blog-classic-right-sidebar.html">Special Offers</a></div>
                                            <div class="post-card__title">
                                                <h2><a href="post-full-width.html">Philosophy That Addresses Topics Such
                                                        As Goodness</a></h2>
                                            </div>
                                            <div class="post-card__date">By <a href="">Jessica Moore</a> on October 19,
                                                2019</div>
                                            <div class="post-card__excerpt">
                                                <div class="typography">Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit. Donec facilisis neque ut purus fermentum, ac
                                                    pretium nibh facilisis. Vivamus venenatis viverra iaculis.
                                                    Suspendisse tempor orci non sapien ullamcorper dapibus. Suspendisse
                                                    at velit diam. Donec pharetra nec enim blandit vulputate.</div>
                                            </div>
                                            <div class="post-card__more"><a href="post-full-width.html"
                                                    class="btn btn-secondary btn-sm">Read more</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="posts-list__item">
                                    <div class="post-card post-card--layout--grid-sm">
                                        <div class="post-card__image"><a href="post-full-width.html"><img
                                                    src="images/posts/post-2-730x485.jpg" alt=""></a></div>
                                        <div class="post-card__content">
                                            <div class="post-card__category"><a
                                                    href="blog-classic-right-sidebar.html">Latest News</a></div>
                                            <div class="post-card__title">
                                                <h2><a href="post-full-width.html">Logic Is The Study Of Reasoning And
                                                        Argument Part 2</a></h2>
                                            </div>
                                            <div class="post-card__date">By <a href="">Jessica Moore</a> on September 5,
                                                2019</div>
                                            <div class="post-card__excerpt">
                                                <div class="typography">Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit. Donec facilisis neque ut purus fermentum, ac
                                                    pretium nibh facilisis. Vivamus venenatis viverra iaculis.
                                                    Suspendisse tempor orci non sapien ullamcorper dapibus. Suspendisse
                                                    at velit diam. Donec pharetra nec enim blandit vulputate.</div>
                                            </div>
                                            <div class="post-card__more"><a href="post-full-width.html"
                                                    class="btn btn-secondary btn-sm">Read more</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="posts-list__item">
                                    <div class="post-card post-card--layout--grid-sm">
                                        <div class="post-card__image"><a href="post-full-width.html"><img
                                                    src="images/posts/post-3-730x485.jpg" alt=""></a></div>
                                        <div class="post-card__content">
                                            <div class="post-card__category"><a
                                                    href="blog-classic-right-sidebar.html">New Arrivals</a></div>
                                            <div class="post-card__title">
                                                <h2><a href="post-full-width.html">Some Philosophers Specialize In One
                                                        Or More Historical Periods</a></h2>
                                            </div>
                                            <div class="post-card__date">By <a href="">Jessica Moore</a> on August 12,
                                                2019</div>
                                            <div class="post-card__excerpt">
                                                <div class="typography">Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit. Donec facilisis neque ut purus fermentum, ac
                                                    pretium nibh facilisis. Vivamus venenatis viverra iaculis.
                                                    Suspendisse tempor orci non sapien ullamcorper dapibus. Suspendisse
                                                    at velit diam. Donec pharetra nec enim blandit vulputate.</div>
                                            </div>
                                            <div class="post-card__more"><a href="post-full-width.html"
                                                    class="btn btn-secondary btn-sm">Read more</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="posts-list__item">
                                    <div class="post-card post-card--layout--grid-sm">
                                        <div class="post-card__image"><a href="post-full-width.html"><img
                                                    src="images/posts/post-4-730x485.jpg" alt=""></a></div>
                                        <div class="post-card__content">
                                            <div class="post-card__category"><a
                                                    href="blog-classic-right-sidebar.html">Special Offers</a></div>
                                            <div class="post-card__title">
                                                <h2><a href="post-full-width.html">A Variety Of Other Academic And
                                                        Non-Academic Approaches Have Been Explored</a></h2>
                                            </div>
                                            <div class="post-card__date">By <a href="">Jessica Moore</a> on Jule 30,
                                                2019</div>
                                            <div class="post-card__excerpt">
                                                <div class="typography">Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit. Donec facilisis neque ut purus fermentum, ac
                                                    pretium nibh facilisis. Vivamus venenatis viverra iaculis.
                                                    Suspendisse tempor orci non sapien ullamcorper dapibus. Suspendisse
                                                    at velit diam. Donec pharetra nec enim blandit vulputate.</div>
                                            </div>
                                            <div class="post-card__more"><a href="post-full-width.html"
                                                    class="btn btn-secondary btn-sm">Read more</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="posts-list__item">
                                    <div class="post-card post-card--layout--grid-sm">
                                        <div class="post-card__image"><a href="post-full-width.html"><img
                                                    src="images/posts/post-5-730x485.jpg" alt=""></a></div>
                                        <div class="post-card__content">
                                            <div class="post-card__category"><a
                                                    href="blog-classic-right-sidebar.html">New Arrivals</a></div>
                                            <div class="post-card__title">
                                                <h2><a href="post-full-width.html">Germany Was The First Country To
                                                        Professionalize Philosophy</a></h2>
                                            </div>
                                            <div class="post-card__date">By <a href="">Jessica Moore</a> on June 12,
                                                2019</div>
                                            <div class="post-card__excerpt">
                                                <div class="typography">Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit. Donec facilisis neque ut purus fermentum, ac
                                                    pretium nibh facilisis. Vivamus venenatis viverra iaculis.
                                                    Suspendisse tempor orci non sapien ullamcorper dapibus. Suspendisse
                                                    at velit diam. Donec pharetra nec enim blandit vulputate.</div>
                                            </div>
                                            <div class="post-card__more"><a href="post-full-width.html"
                                                    class="btn btn-secondary btn-sm">Read more</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="posts-list__item">
                                    <div class="post-card post-card--layout--grid-sm">
                                        <div class="post-card__image"><a href="post-full-width.html"><img
                                                    src="images/posts/post-6-730x485.jpg" alt=""></a></div>
                                        <div class="post-card__content">
                                            <div class="post-card__category"><a
                                                    href="blog-classic-right-sidebar.html">Special Offers</a></div>
                                            <div class="post-card__title">
                                                <h2><a href="post-full-width.html">Logic Is The Study Of Reasoning And
                                                        Argument Part 1</a></h2>
                                            </div>
                                            <div class="post-card__date">By <a href="">Jessica Moore</a> on May 21, 2019
                                            </div>
                                            <div class="post-card__excerpt">
                                                <div class="typography">Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit. Donec facilisis neque ut purus fermentum, ac
                                                    pretium nibh facilisis. Vivamus venenatis viverra iaculis.
                                                    Suspendisse tempor orci non sapien ullamcorper dapibus. Suspendisse
                                                    at velit diam. Donec pharetra nec enim blandit vulputate.</div>
                                            </div>
                                            <div class="post-card__more"><a href="post-full-width.html"
                                                    class="btn btn-secondary btn-sm">Read more</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="posts-list__item">
                                    <div class="post-card post-card--layout--grid-sm">
                                        <div class="post-card__image"><a href="post-full-width.html"><img
                                                    src="images/posts/post-7-730x485.jpg" alt=""></a></div>
                                        <div class="post-card__content">
                                            <div class="post-card__category"><a
                                                    href="blog-classic-right-sidebar.html">Special Offers</a></div>
                                            <div class="post-card__title">
                                                <h2><a href="post-full-width.html">Many Inquiries Outside Of Academia
                                                        Are Philosophical In The Broad Sense</a></h2>
                                            </div>
                                            <div class="post-card__date">By <a href="">Jessica Moore</a> on April 3,
                                                2019</div>
                                            <div class="post-card__excerpt">
                                                <div class="typography">Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit. Donec facilisis neque ut purus fermentum, ac
                                                    pretium nibh facilisis. Vivamus venenatis viverra iaculis.
                                                    Suspendisse tempor orci non sapien ullamcorper dapibus. Suspendisse
                                                    at velit diam. Donec pharetra nec enim blandit vulputate.</div>
                                            </div>
                                            <div class="post-card__more"><a href="post-full-width.html"
                                                    class="btn btn-secondary btn-sm">Read more</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="posts-list__item">
                                    <div class="post-card post-card--layout--grid-sm">
                                        <div class="post-card__image"><a href="post-full-width.html"><img
                                                    src="images/posts/post-8-730x485.jpg" alt=""></a></div>
                                        <div class="post-card__content">
                                            <div class="post-card__category"><a
                                                    href="blog-classic-right-sidebar.html">Latest News</a></div>
                                            <div class="post-card__title">
                                                <h2><a href="post-full-width.html">An Advantage Of Digital Circuits When
                                                        Compared To Analog Circuits</a></h2>
                                            </div>
                                            <div class="post-card__date">By <a href="">Jessica Moore</a> on Mart 29,
                                                2019</div>
                                            <div class="post-card__excerpt">
                                                <div class="typography">Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit. Donec facilisis neque ut purus fermentum, ac
                                                    pretium nibh facilisis. Vivamus venenatis viverra iaculis.
                                                    Suspendisse tempor orci non sapien ullamcorper dapibus. Suspendisse
                                                    at velit diam. Donec pharetra nec enim blandit vulputate.</div>
                                            </div>
                                            <div class="post-card__more"><a href="post-full-width.html"
                                                    class="btn btn-secondary btn-sm">Read more</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="posts-list__item">
                                    <div class="post-card post-card--layout--grid-sm">
                                        <div class="post-card__image"><a href="post-full-width.html"><img
                                                    src="images/posts/post-9-730x485.jpg" alt=""></a></div>
                                        <div class="post-card__content">
                                            <div class="post-card__category"><a
                                                    href="blog-classic-right-sidebar.html">New Arrivals</a></div>
                                            <div class="post-card__title">
                                                <h2><a href="post-full-width.html">A Digital Circuit Is Typically
                                                        Constructed From Small Electronic Circuits</a></h2>
                                            </div>
                                            <div class="post-card__date">By <a href="">Jessica Moore</a> on February 10,
                                                2019</div>
                                            <div class="post-card__excerpt">
                                                <div class="typography">Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit. Donec facilisis neque ut purus fermentum, ac
                                                    pretium nibh facilisis. Vivamus venenatis viverra iaculis.
                                                    Suspendisse tempor orci non sapien ullamcorper dapibus. Suspendisse
                                                    at velit diam. Donec pharetra nec enim blandit vulputate.</div>
                                            </div>
                                            <div class="post-card__more"><a href="post-full-width.html"
                                                    class="btn btn-secondary btn-sm">Read more</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="posts-list__item">
                                    <div class="post-card post-card--layout--grid-sm">
                                        <div class="post-card__image"><a href="post-full-width.html"><img
                                                    src="images/posts/post-10-730x485.jpg" alt=""></a></div>
                                        <div class="post-card__content">
                                            <div class="post-card__category"><a
                                                    href="blog-classic-right-sidebar.html">Special Offers</a></div>
                                            <div class="post-card__title">
                                                <h2><a href="post-full-width.html">Engineers Use Many Methods To
                                                        Minimize Logic Functions</a></h2>
                                            </div>
                                            <div class="post-card__date">By <a href="">Jessica Moore</a> on January 1,
                                                2019</div>
                                            <div class="post-card__excerpt">
                                                <div class="typography">Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit. Donec facilisis neque ut purus fermentum, ac
                                                    pretium nibh facilisis. Vivamus venenatis viverra iaculis.
                                                    Suspendisse tempor orci non sapien ullamcorper dapibus. Suspendisse
                                                    at velit diam. Donec pharetra nec enim blandit vulputate.</div>
                                            </div>
                                            <div class="post-card__more"><a href="post-full-width.html"
                                                    class="btn btn-secondary btn-sm">Read more</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="posts-view__pagination">
                            <ul class="pagination">
                                <li class="page-item disabled"><a class="page-link page-link--with-arrow" href=""
                                        aria-label="Previous"><span class="page-link__arrow page-link__arrow--left"
                                            aria-hidden="true"><svg width="7" height="11">
                                                <path
                                                    d="M6.7,0.3L6.7,0.3c-0.4-0.4-0.9-0.4-1.3,0L0,5.5l5.4,5.2c0.4,0.4,0.9,0.3,1.3,0l0,0c0.4-0.4,0.4-1,0-1.3l-4-3.9l4-3.9C7.1,1.2,7.1,0.6,6.7,0.3z">
                                                </path>
                                            </svg></span></a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active" aria-current="page"><span class="page-link">2 <span
                                            class="sr-only">(current)</span></span></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item page-item--dots">
                                    <div class="pagination__dots"></div>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">9</a></li>
                                <li class="page-item"><a class="page-link page-link--with-arrow" href=""
                                        aria-label="Next"><span class="page-link__arrow page-link__arrow--right"
                                            aria-hidden="true"><svg width="7" height="11">
                                                <path d="M0.3,10.7L0.3,10.7c0.4,0.4,0.9,0.4,1.3,0L7,5.5L1.6,0.3C1.2-0.1,0.7,0,0.3,0.3l0,0c-0.4,0.4-0.4,1,0,1.3l4,3.9l-4,3.9
	C-0.1,9.8-0.1,10.4,0.3,10.7z"></path>
                                            </svg></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-space block-space--layout--before-footer"></div>

{% endblock %}