{% load static %}
<!DOCTYPE html>

<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="telephone=no" name="format-detection" />
    {% block meta %}
    {% endblock %}
    {% if title %}
    <title>{{title}} - Campio</title>
    {% else %}
    <title>Autoparts</title>
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet" />
    <!-- css -->
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <link href="{% static 'css/bootstrap.css' %} " rel="stylesheet" />
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
    <link href="{% static 'css/default-skin.css'%} " rel="stylesheet" />
    <link href="{% static 'css/select2.min.css'%} " rel="stylesheet" />
    <link href="{% static 'css/style.css'%} " rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css'%}">
    <link rel="stylesheet" href="{% static 'css/alertify.min.css'%}">

    <style>
        .fitscreen{
            height: 75vh;
            overflow-y: scroll;
        }


        /* width */
        ::-webkit-scrollbar {
        width: 5px;
        }

 
        /* Handle */
        ::-webkit-scrollbar-thumb {
        background: #888; 
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
        background: #555; 
        }
    </style>
    {% block css%}
    {% endblock %}
</head>

<body>
    <!-- site -->
    <div class="site position-relative">
        
        <!-- site__body -->
        <div class="site__body d-flex flex-column">
            <div class="loading flex-column align-items-center justify-content-center w-100 h-100 position-fixed top-0 bg-dark200 d-none" style="z-index:1199">
                <div class="spinner-border text-light"></div>
                <strong class="text-light textloading">
                    
                </strong>
            </div>
            <div class="px-3">
                <div class="mb-2 px-3 d-flex justify-content-between bg-dark text-white align-items-center">
                    {% if user.username %}
                        <ul class="navbar-nav mr-auto">
                                
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.get_username }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <a class="dropdown-item" href="{% url 'logoutuser' %}">Logout</a>
                                {% if user.groups.all.0.name == 'accounting' %}
                                <a class="dropdown-item" href="{% url 'orders' %}">Commandes</a>
                                {% endif %}
                                {% if user.groups.all.0.name == 'salsemen' or user.groups.all.0.name == 'clients'%}
                                <a class="dropdown-item" href="{% url 'salsemanorders' %}">Mes commande</a>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                            </div>
                            </li>
                            
                        </ul>
                        {% if not user.groups.all.0.name == 'accounting' %}
                        
                        <a href="/catalog" class="btn btn-primary">
                            Catalog
                        </a>
                        {% endif %}
                        {% if user.groups.all.0.name == 'accounting' %}
                        <small>
                            Commande non validé: <span class="nonvalider">0</span>
                        </small>
                        {% endif %}
                        {% if user.groups.all.0.name == 'salsemen' or user.groups.all.0.name == 'clients'%}
                        <small>
                            Articles comandés: <span class="commanditems">0</span>
                        </small>
                        {% endif %}
                    {% endif %}
                </div>
                {% block content %}
                {% endblock %}
            </div>


            <hr>
            <footer class="text-muted mt-auto d-flex justify-content-between p-3 align-items-center">
                <small>
                    Version: 1.0.0
                </small>
                <div class="text-center">
                    <a href="/aboutus" target="_blank">
                        <img src="/static/images/logo.jpg" width="160" height="60">
                    </a>
                </div>
                <small>
                    @ 2022  - developpé par <a href="https://abdelouahed.me" target="_blank">Abdelouahed</a>
                </small>
            </footer>
            
            </div><!-- site__body / end -->
        <!-- site__footer -->
       
    </div><!-- site / end -->
    <!-- mobile-menu -->

    
    <!-- scripts -->

    <script src="{% static 'js/select2.min.js'%}"></script>
    <script src="{% static 'js/number.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
    <script src="{% static 'js/alertify.min.js'%}"></script>
    <script>
          const loading=()=>{
		$('.loading').removeClass('d-none').addClass('d-flex');
        }

    const stoploading=()=>{
        $('.loading').removeClass('d-flex').addClass('d-none');
    }
    </script>
    {% block js %}
    {% endblock %}
</body>


<!-- modals -->
</html>