{% load static %}
<!DOCTYPE html>

<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="telephone=no" name="format-detection" />
    <!-- favicon -->
    <link href="{% static 'images/favicon.png'%}" rel="icon" />
    {% block meta %}
    {% endblock %}
    {% if title %}
    <title>{{title}} - Campio</title>
    {% else %}
    <title>Catalog</title>
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet" />
    <!-- css -->
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <link href="{% static 'css/bootstrap.css' %} " rel="stylesheet" />
    <link href="{% static 'css/default-skin.css'%} " rel="stylesheet" />
    <link href="{% static 'css/select2.min.css'%} " rel="stylesheet" />
    <link href="{% static 'css/style.css'%} " rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css'%}">

    <style>
        .fixedheader{
            position: fixed;
            top: 0;
            left: 0;
            z-index: 99;
        }
        .fitscreen{
            height: 80vh;
            overflow-y: scroll;
            

        }

        .cartholder{
            top: 0;
            z-index: 9999;
            background: aliceblue;
            box-shadow: -11px 2px 7px 0px grey;
            width: 99%;
            right: -500rem;
            height: 100%;
            transition: all .5s ease-in-out;
        }
        /* width */
        ::-webkit-scrollbar {
        width: 5px;
        }

 
        /* Handle */
        ::-webkit-scrollbar-thumb {
        background: #888; 
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
        background: #555; 
        }
    </style>
    {% block css%}
    {% endblock %}
</head>

<body>
    <!-- site -->
    <div class="site position-relative">
        
        <!-- site__body -->
        <div class="site__body d-flex flex-column">
            <div class="loading flex-column align-items-center justify-content-center w-100 h-100 position-fixed top-0 bg-dark200 d-none" style="z-index:1199">
                <div class="spinner-border text-light"></div>
                <strong class="text-light textloading">
                    
                </strong>
            </div>
            <div class="px-3">
                <div class="w-100 mb-2 px-3 d-flex justify-content-between bg-dark text-white align-items-center">
                    {% if user.username %}
                        <ul class="navbar-nav mr-auto">
                                
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.get_username }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'logoutuser' %}">Deconnexion <i class="bi bi-skip-end-btn bg-danger"></i></a>
                                {% if user.groups.all.0.name == 'accounting' %}
                                <a class="dropdown-item" href="{% url 'orders' %}">Commandes</a>
                                {% endif %}
                                {% if user.groups.all.0.name == 'salsemen' or user.groups.all.0.name == 'clients'%}
                                <a class="dropdown-item" href="{% url 'salsemanorders' %}">Mes commande</a>
                                {% endif %}
                                {% if  user.groups.all.0.name == 'clients'%}
                                <a class="dropdown-item" href="{% url 'profile' %}">Modifier les informations</a>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                            </div>
                            </li>
                            
                        </ul>
                        {% if not user.groups.all.0.name == 'accounting' %}
                        
                        <a href="/catalog" class="btn btn-primary">
                            Catalog
                        </a>
                        {% endif %}
                        {% if user.groups.all.0.name == 'accounting' %}
                        <small>
                            Commande non validé: <span class="nonvalider">0</span>
                        </small>
                        {% endif %}
                        {% if user.groups.all.0.name == 'salsemen' or user.groups.all.0.name == 'clients'%}
                        <a class="btn text-white" href="/cart">
                            <i class="bi bi-cart"></i> Panier : <span class="commanditems">0</span>
                        </a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="">
                    {% block content %}
                    {% endblock %}
                </div>
                <!-- cart -->
                <div class="position-fixed cartholder">
                    <div class="col-5 fitscreen bg-white shadow rounded px-2 w-100">
                    <div class="sticky-top card-header text-center d-flex justify-content-between align-items-center">
                        <button class="btn hidecommande bi bi-arrow-left"></button> 
                        <h2>
                            Commande
                        </h2>
                        <!-- a button to clear commande -->
                        <button class="btn clearcommande bi bi-trash-fill text-danger" onclick="clearcommande()">
                        </button>
                    </div>
                    
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th >ref</th>
                            <th >article</th>
                            <th style="width: 5%;">Qty</th>
                            <th style="width: 5%;">total</th>
                        </tr>
                        </thead>
                        <tbody class="commande-table">
                            
                        </tbody>
                    </table>
                    
                    </div>
                    <div class=" mt-3  p-2 bg-white rpunded shadow d-flex justify-content-between align-items-center">
                        <div>
                            TOTAL: <span class="total">0</span>
                        </div>
            
                        <div class="d-flex justify-content-between modes border p-2">
                            <!-- add a list od mod pyem -->
                            <select class="form-select mb-2" aria-label="Default select example" name="modpymnt">
                                <option selected value="0">Mode de payement</option>
                                <option value="espece">Espece (-5%/article)</option>
                                <option value="cheque">Cheque (delai 4 mois)</option>
                              </select>
                        
                        
                            <!-- add a list od mod lvrs -->
                        
                            <select class="form-select mb-2" aria-label="Default select example" name="modlvrsn">
                                <option selected value="0">Mode de livraison</option>
                                <option value="lux">Lux</option>
                                <option value="sdtm">SDTM</option>
                                <option value="ghazala">Ghazala</option>
                                <option value="baha">Baha express</option>
                              </select>
                        </div>
                        {% if user.groups.all.0.name == 'salsemen' %}
                        <div class="col-4">
                            <div class="d-flex justify-content-center">
                                <select class="form-control form-control-select2 clientid" name="client" >
                                    <option value="0">---</option>
                                    {% for i in clients %}
                                        <option value="{{i.id}}">{{i.name}} ({{i.address}})</option>
                                    {% endfor %}
                                </select>
                                
                                {% csrf_token %}
                                <button class="btn btn-primary valider" disabled>
                                Confirmer
                                </button>
                            </div>
                            
                            <button class="btn btn-primary w-100 mt-2" data-toggle="modal" data-target="#addclientmodal">
                                <i class="bi bi-plus"></i>Nouveau client
                            </button>
            
                            <small class="text-danger d-none clienterr">
                                Choisir un client ou ajouter un nouveau
                            </small>
                        </div>
                            
                        {% endif %}
                        {% if user.groups.all.0.name == 'clients' %}
                        <input type="hidden" class="clientid" value="{{user.client.id}}">
                        <div>{{ request.user.client.name }}</div>
                        <button class="btn btn-primary valider" disabled>confirmer</button>
                        
                        {% endif %}
                        
                    </div>
                </div>
                
            </div>

            <br>
            <footer class="px-3 bg-white text-muted mt-auto d-flex justify-content-between align-items-center">
                <small>
                    Version: 1.0.0
                </small>
                
                <small>
                   Campion @ <span id="thisyear"></span> 
                </small>

                <!-- <small>
                    <a href="/me">developer</a>
                </small> -->
            </footer>
            
            </div><!-- site__body / end -->
        <!-- site__footer -->
       
    </div><!-- site / end -->
    <!-- mobile-menu -->

    <!-- Modal -->
  <div class="modal fade" id="addclientmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<div class="accordion mb-2" id="accordionExample">
				<div class="accordion-item">
				  <h2 class="accordion-header" id="headingOne">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					  +Ajouter
					</button>
				  </h2>
				  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<form id="addclientform">
							{% csrf_token %}
							<div class="form-group">
								<label for="exampleInputEmail1">Nom ou Nom commercial</label>
								<input name="name" type="text" required class="form-control">
							</div>
							
							<div class="form-group">
								<label for="exampleInputPassword1">Phone</label>
								<input name="phone" type="text" required class="form-control">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">Ville</label>
								<input name="city" type="text" required class="form-control">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">Addresse</label>
								<input name="address" type="text" required class="form-control">
							</div>
							<button  class="btn btn-primary addclientbtn w-100">Submit</button>
					  </form>
					</div>
				  </div>
				</div>
			</div>
			
		</div>
	  </div>
	</div>
  </div>

    <!-- scripts -->
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'js/select2.min.js'%}"></script>
    <script src="{% static 'js/number.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
    
    <script>
        if(navigator.connection) {
            console.log('connexion')
  const connectionType = navigator.connection.effectiveType;
  const rtt = navigator.connection.rtt;

  if(connectionType === 'slow-2g' || (connectionType === '2g' && rtt > 1000)) {
    alert('Your internet connection is too slow. Please try again later.');
    window.stop();
  }
}
        $('#thisyear').text(new Date().getFullYear())
          const loading=()=>{
		$('.loading').removeClass('d-none').addClass('d-flex');
        }

    const stoploading=()=>{
        $('.loading').removeClass('d-flex').addClass('d-none');
    }
    products=JSON.parse(localStorage.getItem('products'))
    if (products && products.length){
        $('.commanditems').text(products.length)
    }

    </script>
    {% block js %}
    {% endblock %}
</body>


<!-- modals -->
</html>