{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
.clicked{
  transform: translateX(0);
}
.tabs {
  padding: 15px;
  width: 70vw;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  min-width: 240px;
}
.tabs input[name=tab-control] {
  display: none;
}
.tabs .content section h2,
.tabs ul li label {
  font-weight: bold;
  font-size: 18px;
  color: #ffff;
}
.tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.tabs ul li {
  box-sizing: border-box;
  flex: 1;
  width: 25%;
  text-align: center;
}
.tabs ul li label {
  margin-bottom: 0px;
  transition: all 0.3s ease-in-out;
  color: #929daf;
  padding: 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tabs ul li label br {
  display: none;
}
.tabs ul li label svg {
  fill: #929daf;
  height: 1.2em;
  vertical-align: bottom;
  margin-right: 0.2em;
  transition: all 0.2s ease-in-out;
}
.tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
  outline: 0;
  color: #bec5cf;
}
.tabs ul li label:hover svg, .tabs ul li label:focus svg, .tabs ul li label:active svg {
  fill: #bec5cf;
}
.tabs .slider {
  position: relative;
  width: 25%;
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.tabs .slider .indicator {
  position: relative;
  width: 50px;
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: #ffff;
  border-radius: 1px;
}
.tabs .content {
    background: #464645;
    padding: 20px;
}
.tabs .content section {
  display: none;
  -webkit-animation-name: content;
          animation-name: content;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  line-height: 1.4;
}
.tabs .content section h2 {
  color: #ffff;
  display: none;
}
.tabs .content section h2::after {
  content: "";
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  background: #ffff;
  margin-top: 5px;
  left: 1px;
}
.tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
  background: #464645;
  color: #ffff;
  padding: 5px;
  border-radius: 50px 0 0 0;


}

@media (max-width: 600px) {
  .tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
      background: #464645;
      color: #ffff;
      padding: 5px;
      border-radius: 20px 0 0 0;

  }
}
.tabs input[name=tab-control]:nth-of-type(1):checked ~ .slider {
  transform: translateX(0%);
}
.tabs input[name=tab-control]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
  display: block;
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
  color: #ffff;
  background: #464645;
  padding: 5px;
  border-radius: 0 50px 0 0;
}

@media (max-width: 600px) {
  .tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
      background: #464645;
  border-radius: 0 20px 0 0;

  }
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ .slider {
  transform: translateX(100%);
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
  display: block;
}
@-webkit-keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@media (max-width: 1000px) {
  .tabs{
    width: 100%;
  }
  .tabs ul li label {
    white-space: initial;
  }
  .tabs ul li label br {
    display: initial;
  }
  .tabs ul li label svg {
    height: 1.5em;
  }
}
@media (max-width: 600px) {
  .tabs ul li label {
    padding: 5px;
  }
  .tabs .content section h2 {
    display: block;
  }
}
</style>
{% endblock %}


{% block content %}
<div class="block-finder block vh-70">
    <div class="decor block-finder__decor decor--type--bottom">
        <div class="decor__body">
            <div class="decor__start"></div>
            <div class="decor__end"></div>
            <div class="decor__center"></div>
        </div>
    </div>
    <div class="block-finder__body block-finder__body d-flex flex-column align-items-center ">
        <div class="block-finder__title">Trouvez des pièces pour votre véhicule</div>
        <div class="block-finder__subtitle">Plus de centaines de marques et des dizaines de milliers de pièces</div>


        <!-- tabs -->
        <div class="tabs">
        
            <input type="radio" id="tab1" name="tab-control" checked>
            <input type="radio" id="tab2" name="tab-control">
            <ul>
                <li title="Features"><label for="tab1" role="button"><span>Reference</span></label></li>
                <li title="N° chasis"><label for="tab2" role="button"><span>N° chasis</span></label></li>
            </ul>

            <div class="content">
                <section class="text-start">
                  <form action="/byref" method="post" class="byref">
                    {% csrf_token %}
                    <div class="row">

                      <div class="mb-2 col-md-8">
                        <input 
                        name="ref"
                        type="text" 
                        class="form-control ref" 
                        placeholder="N° reference">
                      </div>
                      <div class="col-md-4">
  
                        <button type="submit" class="btn btn-danger w-100 searchref btn-lg">
                          Search
                        </button>
                      </div>
                    </div>



                  </form>
                </section>
                <section>
                  <form action="/bych" method="post" class="bychas">
                    {% csrf_token %}
                    <div class="row">

                      <div class="mb-2 col-md-4">
  
                        <input type="text" class="form-control chas" placeholder="N° de chasis">
                      </div>
                      <div class="mb-2 col-md-4">
  
                        <select class="form-control catg">
                          <option value="0">----</option>

                          {% for i in cc %}
                          <option value="{{i.id}}">{{i.title}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-md-4">
                      
                        <button type="submit" class="btn btn-danger w-100 searchchas btn-lg" disabled>
                          Search
                        </button>
                      </div>
                    </div>
                  
                  
                  </form>
                </section>
            </div>
        </div>



        <!-- tabs -->
        <!-- <div class="tab-container tabsholder">

            <div class="tab-menu ">
                <ul class="d-flex justify-content-sm-between">
                    <li class="animate mr-2">
                        <a href="#" class="tab-a active-a chasis" data-id="tab1">
                            N° de chasis
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tab-a reference" data-id="tab2">
                            Reference
                        </a>
                    </li>
                </ul>
            </div>
            end of tab-men
            <div class="tab tab-active" data-id="tab1">
                <div class="mt-5 formch block-finder__form">
                    <div class="form-group">
                        <input type="text" name="nchasis" class="form-control border" placeholder="N° de chasis">
                    </div>
                    
                    <div class="block-finder__form-control--select">
                        <select class="category" name="category">
                            <option value="none">Select Categorie</option>
                            <option value="freinage">freinage</option>
                            <option value="volant">volant</option>
                            <option value="janta">janta</option>
                        </select>
                    </div>


                </div>

            </div>
            end of tab one

            <div class="tab" data-id="tab2">
                <div class="mt-5 formch block-finder__form">
                    <input type="text" name="nref" class="form-control" placeholder="N° de reference">  
                
                    
                
                
                </div>


            </div>

            <div class="searchholder mt-3">
                <button disabled="disabled" class="block-finder__form-control--button form-control searchchas">Search
                </button>
            </div>
        </div> -->
    </div>
</div>
<!-- features -->
<div class="bg-white block-features block block-features--layout--top-strip">
    <div class="container">
        <ul class="block-features__list">
            <li class="block-features__item">
                <div class="block-features__item-icon">
                </div>
                <div class="block-features__item-info">
                    <div class="block-features__item-title">Livraison gratuite</div>
                    <div class="block-features__item-subtitle"></div>
                </div>
            </li>
            <li class="block-features__item">
                <div class="block-features__item-icon">
                </div>
                <div class="block-features__item-info">
                    <div class="block-features__item-title">Support 24/7</div>
                    <div class="block-features__item-subtitle">Appelez-nous à tout moment</div>
                </div>
            </li>
            <li class="block-features__item">
                <div class="block-features__item-icon">
                </div>
                <div class="block-features__item-info">
                    <div class="block-features__item-title">100% Sécurité</div>
                    <div class="block-features__item-subtitle">Paiements sécurisés uniquement</div>
                </div>
            </li>
            <li class="block-features__item">
                <div class="block-features__item-icon">
                </div>
                <div class="block-features__item-info">
                    <div class="block-features__item-title">Offres chaudes</div>
                    <div class="block-features__item-subtitle">Réductions jusqu'à 30%</div>
                </div>
            </li>
        </ul>
    </div>
</div>


<div class="container-fluid px-1 px-md-4 py-5 mx-auto">
    
</div>


<div class="block-split__row row no-gutters selectproducts">
    <div class="block-split__item block-split__item-content col-12">
        <div class="block container">
            <div class="products-view">

                <div class="products-view__list products-list products-list--grid--4" data-layout="table"
                    data-with-features="false">

                    <div class="products-list__content pdctsholder">
                        

                        

                    </div>
                </div>

                

            </div>
        </div>
    </div>
</div>
<div class="block-space block-space--layout--before-footer"></div>

<!-- build a a section that has tow steps first step is the cart the checkout -->
<div class="cartholder">
  <div class="block-header block-header--has-breadcrumb block-header--has-title">
    <div class="container">
      <div class="block-header__body">
        
        <h1 class="">
          <i class="btn btn-sm btn-primary bi bi-arrow-left"></i>
          Cart</h1>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="container">
      <div class="cart">
        <div class="cart__table cart-table">
          <table class="cart-table__table">
            <thead class="cart-table__head">
              <tr class="cart-table__row">
                <th class="cart-table__column cart-table__column--image">Image</th>
                <th class="cart-table__column cart-table__column--product">Product</th>
                <th class="cart-table__column cart-table__column--price">Price</th>
                <th class="cart-table__column cart-table__column--quantity">Quantity</th>
                <th class="cart-table__column cart-table__column--total">Total</th>
                <th class="cart-table__column cart-table__column--remove"></th>
              </tr>
            </thead>
            <tbody class="cart-table__body">
              <!-- <tr class="cart-table__row">
                <td class="cart-table__column cart-table__column--image">
                  <div class="image image--type--product"><a href="product-full.html" class="image__body"><img class="image__tag"
                        src="images/products/product-4-160x160.jpg" alt=""></a></div>
                </td>
                <td class="cart-table__column cart-table__column--product"><a href="" class="cart-table__product-name">Glossy Gray 19"
                    Aluminium Wheel AR-19</a>
                  <ul class="cart-table__options">
                    <li>Color: Yellow</li>
                    <li>Material: Aluminium</li>
                  </ul>
                </td>
                <td class="cart-table__column cart-table__column--price" data-title="Price" class="itemprice">$699.00</td>
                <td class="cart-table__column cart-table__column--quantity" data-title="Quantity">
                  <div class="cart-table__quantity input-number">
                    <input class="form-control input-number__input" name="qty" data-price="699.00" type="number" min="1" value="1">
                    <div class="input-number__add"></div>
                    <div class="input-number__sub"></div>
                  </div>
                </td>
                <td class="cart-table__column cart-table__column--total" data-title="Total">$<span class="total">699.00</span></td>
                <td class="cart-table__column cart-table__column--remove"><button type="button"
                    class="cart-table__remove btn btn-sm btn-icon btn-muted"><svg width="12" height="12">
                      <path d="M10.8,10.8L10.8,10.8c-0.4,0.4-1,0.4-1.4,0L6,7.4l-3.4,3.4c-0.4,0.4-1,0.4-1.4,0l0,0c-0.4-0.4-0.4-1,0-1.4L4.6,6L1.2,2.6
              c-0.4-0.4-0.4-1,0-1.4l0,0c0.4-0.4,1-0.4,1.4,0L6,4.6l3.4-3.4c0.4-0.4,1-0.4,1.4,0l0,0c0.4,0.4,0.4,1,0,1.4L7.4,6l3.4,3.4
              C11.2,9.8,11.2,10.4,10.8,10.8z"></path>
                    </svg></button></td>
              </tr>
              <tr class="cart-table__row">
                <td class="cart-table__column cart-table__column--image">
                  <div class="image image--type--product"><a href="product-full.html" class="image__body"><img class="image__tag"
                        src="images/products/product-4-160x160.jpg" alt=""></a></div>
                </td>
                <td class="cart-table__column cart-table__column--product"><a href="" class="cart-table__product-name">Glossy Gray 19"
                    Aluminium Wheel AR-19</a>
                  <ul class="cart-table__options">
                    <li>Color: Yellow</li>
                    <li>Material: Aluminium</li>
                  </ul>
                </td>
                <td class="cart-table__column cart-table__column--price" data-title="Price" class="itemprice">$150.00</td>
                <td class="cart-table__column cart-table__column--quantity" data-title="Quantity">
                  <div class="cart-table__quantity input-number">
                    <input class="form-control input-number__input" name="qty" data-price="150.00" type="number" min="1" value="1">
                    <div class="input-number__add"></div>
                    <div class="input-number__sub"></div>
                  </div>
                </td>
                <td class="cart-table__column cart-table__column--total" data-title="Total">$<span class="total">150.00</span></td>
                <td class="cart-table__column cart-table__column--remove"><button type="button"
                    class="cart-table__remove btn btn-sm btn-icon btn-muted"><svg width="12" height="12">
                      <path d="M10.8,10.8L10.8,10.8c-0.4,0.4-1,0.4-1.4,0L6,7.4l-3.4,3.4c-0.4,0.4-1,0.4-1.4,0l0,0c-0.4-0.4-0.4-1,0-1.4L4.6,6L1.2,2.6
              c-0.4-0.4-0.4-1,0-1.4l0,0c0.4-0.4,1-0.4,1.4,0L6,4.6l3.4-3.4c0.4-0.4,1-0.4,1.4,0l0,0c0.4,0.4,0.4,1,0,1.4L7.4,6l3.4,3.4
              C11.2,9.8,11.2,10.4,10.8,10.8z"></path>
                    </svg></button></td>
              </tr>
              
              <tr class="cart-table__row">
                <td class="cart-table__column cart-table__column--image">
                  <div class="image image--type--product"><a href="product-full.html" class="image__body"><img class="image__tag"
                        src="images/products/product-4-160x160.jpg" alt=""></a></div>
                </td>
                <td class="cart-table__column cart-table__column--product"><a href="" class="cart-table__product-name">Glossy Gray 19"
                    Aluminium Wheel AR-19</a>
                  <ul class="cart-table__options">
                    <li>Color: Yellow</li>
                    <li>Material: Aluminium</li>
                  </ul>
                </td>
                <td class="cart-table__column cart-table__column--price" data-title="Price" class="itemprice">$500.50</td>
                <td class="cart-table__column cart-table__column--quantity" data-title="Quantity">
                  <div class="cart-table__quantity input-number">
                    <input class="form-control input-number__input" name="qty" data-price="500.50" type="number" min="1" value="1">
                    <div class="input-number__add"></div>
                    <div class="input-number__sub"></div>
                  </div>
                </td>
                <td class="cart-table__column cart-table__column--total" data-title="Total">$<span class="total">500.50</span></td>
                <td class="cart-table__column cart-table__column--remove"><button type="button"
                    class="cart-table__remove btn btn-sm btn-icon btn-muted"><svg width="12" height="12">
                      <path d="M10.8,10.8L10.8,10.8c-0.4,0.4-1,0.4-1.4,0L6,7.4l-3.4,3.4c-0.4,0.4-1,0.4-1.4,0l0,0c-0.4-0.4-0.4-1,0-1.4L4.6,6L1.2,2.6
              c-0.4-0.4-0.4-1,0-1.4l0,0c0.4-0.4,1-0.4,1.4,0L6,4.6l3.4-3.4c0.4-0.4,1-0.4,1.4,0l0,0c0.4,0.4,0.4,1,0,1.4L7.4,6l3.4,3.4
              C11.2,9.8,11.2,10.4,10.8,10.8z"></path>
                    </svg></button></td>
              </tr> -->
            </tbody>
            <tfoot class="cart-table__foot">
              <tr>
                <td colspan="6">
                  <div class="cart-table__actions">
                    <form class="cart-table__coupon-form form-row">
                      <div class="form-group mb-0 col flex-grow-1"><input type="text"
                          class="form-control form-control-sm" placeholder="Coupon Code"></div>
                      <div class="form-group mb-0 col-auto"><button type="button" class="btn btn-sm btn-primary">Apply
                          Coupon</button></div>
                    </form>
                    <div class="cart-table__update-button"><a class="btn btn-sm btn-primary" href="">Update Cart</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="cart__totals">
          <div class="card">
            <div class="card-body card-body--padding--2">
              <h3 class="card-title">Cart Totals</h3>
              <table class="cart__totals-table">
                <thead>
                  <tr>
                    <th>Subtotal</th>
                    <td>$<span class="subtotal"></span></td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Shipping</th>
                    <td>$<span class="shipping">25.00</span><div><a href="">Calculate shipping</a></div>
                    </td>
                  </tr>
                  <tr>
                    <th>Tax</th>
                    <td>$<span class="tax">5.00</span></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Total</th>
                    <td>$<span class="bigtotal"></span></td>
                  </tr>
                </tfoot>
              </table><a class="btn btn-primary btn-xl btn-block" href="">Proceed to checkout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="block-space block-space--layout--before-footer"></div>

{% endblock %}

{% block js %}
<script src="{% static 'js/cart.js' %} "></script>
<script src="{% static 'js/script.js' %} "></script>
<script>
  const showcart=()=>{
    console.log('show cart');
    let cartholder=$('.cartholder');
    cartholder.toggleClass('clicked');
  }
  // const qtys = $('input[name="qty"]')
  // let bigtotal=$('.bigtotal')
  // let tax=$('.tax')
  // let shipping=$('.shipping')
  // let subtotal = 0
  // for (let i of qtys) {
  //   subtotal += parseFloat(i.dataset.price)
  // }
  // $('.subtotal').text(subtotal)
  // bigtotal.text((parseFloat(subtotal)+parseFloat(shipping.text())+parseFloat(tax.text())).toFixed(2))
  // for (let i of qtys){
    
  //   i.addEventListener('change', function(){
  //     let parent = i.parentElement.parentElement.parentElement
  //     let price = parseFloat(this.dataset.price)
  //     let total = parent.querySelector('.cart-table__column--total').querySelector('.total')
  //     let qty = parseFloat(i.value)
  //     // update total text
  //     let newTotal = (price * qty).toFixed(2)
  //     total.innerText = newTotal
  //     // total.contentText(price * qty)
  //     let subtotal = 0
  //     for (let i of $('.total')) {
  //       subtotal += parseFloat($(i).text())
  //     }
      
  //     $('.subtotal').text((subtotal).toFixed(2))
  //     bigtotal.text((parseFloat(subtotal) + parseFloat(shipping.text()) + parseFloat(tax.text())).toFixed(2))
  //   })
  // }
    // qtys.forEach(i => {
    //   $(i).on('change', function () {
    //     let parent = i.parentElement.parentElement.parentElement
    //     let price = parseFloat(parent.querySelector('.itemprice'))
    //     let total = parseFloat(parent.querySelector('.total'))
    //     let qty = i.value
    //     total.text(price * qty)
    //   })
    // });
</script>
{% endblock %}
