{% for i in products %}
    <tr>
      <th scope="row">
         {{i.ref}}
      </th>
      <td>{{i.name}} - {% if i.brand %} {{i.brand}} - {% endif %} {% if i.model %} {{i.model}} - {% endif %} {% if i.mark %} {{i.mark.upper}} {% endif %} </td>
      <td>{{i.price}}</td>
      <td>
         <div class="cart-table__quantity input-number"><input class="form-control input-number__input qty" type="number" min="1" value="1"><div class="input-number__add"></div><div class="input-number__sub"></div></div>
         <button class="btn btn-primary cmnd" pdct="{{i.id}}" pdctref="{{i.ref}}" pdctname="{{i.category}}">Cmnd</button>
      </td>
   </tr>
   {% empty %}
   <tr>
      <td colspan="3">No products found</td>
   </tr>
{% endfor %}