{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
	.commandholder{
		transition: all .6s ease-in;
		z-index: 9999;
	}
	.opencommandholder{
		right: 0;
	}

	.closecommandholder{
		right: -99em;
	}
	
</style>
{% endblock %}
{% block content %}

<!-- add csfr token -->
{% csrf_token %}

	<!-- row with catalog and command divs -->
	<div>

		


		<div class="block">
			<div class="categories-list categories-list--layout--columns-3-sidebar">
			  <ul class="categories-list__body">
				
				{% for i in cc %}
				<li class="categories-list__item">
				  <a href="/products/{{i.id}}">
					<div class="image image--type--category">
					  <div class="image__body">
						
						<img class="image__tag" src="/static/images/{{i.code}}/{{i.code}}.jpg" alt="">
					  </div>
					</div>
					<h5 class="categories-list__item-name mt-3">

						{% if i.has_promotion %}
							{{ i.title.upper }} (promotion)
							{% else %}
							{{ i.title.upper }}
							{% endif %}
					</h5>
				  
				  <div class="categories-list__item-products">{{i.total_products}} Produits</div></a>
				</li>
				<li class="categories-list__divider"></li>
				{% endfor %}
			  </ul>
			</div>
		  </div>
		

		
		<!-- confirmation option 1 -->
		<!-- <div class="row mt-2  justify-content-end p-2">
			
			<div class=" col-5 d-flex justify-content-between">
				<div>
					TOTAL: <span class="total">0</span>
				</div>
				<button class="btn btn-primary" data-toggle="modal" data-target="#addclientmodal">Client
				</button>
			</div>
		
		</div> -->
		
	</div>
	
	<!-- Button trigger modal -->

	
{% endblock %}

{% block js %}

<script>
	
</script>
<script src="{% static 'js/catalog.js' %} "></script>

{% endblock %}