{% extends 'mainlyt.html' %}

{% block css %}

{% endblock %}

{% block content %}
<div class="uk-container">
    <!-- breadcrumb content begin -->
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <ul class="uk-breadcrumb uk-margin-top uk-margin-remove-bottom">
                <li>
                    <a href="../" data-uk-icon="arrow-left">
                    </a>
                </li>
            </ul>
            </ul>
            <h1 class="uk-margin-small-top"></h1>
        </div>
    </div>
    <!-- breadcrumb content end -->
    <section class="partenaires_">
        
        <div class="partenaires">
            <div class="cartmark">
                <img src="static/images/bendix.jpeg" alt="airtex">
                <p>Bendix</p>
            </div>
            <div class="cartmark">
                <img src="/static/images/airtex.jpg" alt="airtex">
                <p>Airtex</p>
            </div>
    
            <div class="cartmark">
                <img src="/static/images/energizer.jpg" alt="airtex">
    
                <p>Energizer</p>
    
    
            </div>
    
            <div class="cartmark">
                <img src="/static/images/pressgom.jpg" alt="airtex">
                <p>Pressgom</p>
            </div>
    
            <div class="cartmark">
                <img src="/static/images/gatzcourrois.jpg" alt="Gatescourrois">
                <p>Gatescourrois</p>
            </div>
    
            <div class="cartmark">
                <img src="/static/images/fareauto.jpg" alt="Fare automotive">
                <p>Fare automotive</p>
            </div>
    
            <div class="cartmark">
                <img src="/static/images/beseka.jpg" alt="Beseka">
                <p>Beseka</p>
            </div>
    
            <div class="cartmark">
                <img src="/static/images/braxis.jpg" alt="Braxis">
                <p>Braxis</p>
            </div>
    
            <div class="cartmark">
                <img src="/static/images/muleroil.jpg" alt="muleroil">
                <p>Muleroil</p>
            </div>
    
            <div class="cartmark">
                <img src="/static/images/smotfilter.jpg" alt="smotfilter">
                <p>Smotfilter</p>
            </div>
    
            <div class="cartmark">
                <img src="/static/images/japaco.jpg" alt="japaco">
                <p>Japaco</p>
            </div>

            <div class="cartmark">
                <img src="/static/images/Kayaplastik.jpg" alt="Kayaplastik">
                <p>Kayaplastik</p>
            </div>

            <div class="cartmark">
                <img src="/static/images/Nakamoto.jpg" alt="Nakamoto">
                <p>Nakamoto</p>
            </div>
        </div>
        
    <!-- <div class="uk-nav-center uk-padding">
        <a href="contact.html" class="uk-button uk-button-primary uk-border-pill">
            devenir un partenaire
        </a>
    </div> -->
    </section>
</div>
{% endblock %}

{% block js %}

{% endblock %}