{% for i in products %}
<a class="suggestions__item suggestions__product" href="/product/{{i.id}}">
    <div class="suggestions__product-image image image--type--product">
      <div class="image__body">
        <img class="image__tag" src="{{i.image}}" alt="">
      </div>
    </div>
    <div class="suggestions__product-info">
      <div class="suggestions__product-name">{{i.name}}</div>
      
    </div>
    <div class="suggestions__product-price">{{i.price}} Net</div>
  </a>
{% empty %}
<strong>
    No results found
</strong>
{% endfor %}